# general settings
IOTGW_ROOM="caprica"  # room name
IOTGW_DEPARTMENT="kpi"  # department name

# mqtt credentials
MQTT_USERNAME=username  # mqtt username
MQTT_PASSWORD=password  # mqtt password
MQTT_BRIDGE_USERNAME=
MQTT_BRIDGE_PASSWORD=
# MQTT_PASSWORD="kpi-${IOTGW_ROOM}-password"

# theengs
IOTGW_BLE_ADAPTER="hci0"    # id of ble adapter

# chrony
IOTGW_NTP_SERVERS="0.sk.pool.ntp.org,1.sk.pool.ntp.org,2.sk.pool.ntp.org,3.sk.pool.ntp.org"
